section {
    margin: 50px 100px ;
    display: grid;
    grid-template-columns: repeat(4 ,minmax(250px ,1fr) ) ;
    gap : 50px;
}
a {
    text-decoration: none;
    color:white;
    padding: 10px 10px ;
    width: 200px;
    color:white; 
       padding: 10px 80px ;
    border-radius:40px;
    text-align: center;
    background-color:black
}
a:hover {
    color: red;

}
.product {
    /* display:inline-block; */
   
}