* {
    margin:0;
    padding:0
    ;box-sizing:border-box;
}

.image  {
    display:block;
    width:30px;
    margin:auto;
    cursor:pointer;
}
thead, tbody {
    text-align:center;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
}
.result {
    width: 100%;
    margin:auto auto;
    text-align:center;
    padding: 5px 10px;
    border-radius:20px;
    color:white;
}

.overlay {
    display:none;
    background-color:rgba(0,0,0,0.8);
    height:100vh;
        position: fixed;
        top:0;
bottom:0;
left:0;
right:0;
cursor:pointer;
}
.static {
    z-index: 100;
    width:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:10px;

}
h1 {
    text-align:center;
}
.table-light {
    border-radius:10px;
    border:0;
}
.buttons {
    padding: 0 100px ;
    display:grid;
    grid-template-columns:  1fr 1fr 1fr;
}

.info-buttons  {
    display:flex;
}

@media print {
    .image {
        display: none;
        
    }
    .btn{
        display:none;
    }
    .result {
        width:120%;
    }
    input {
        border-width:2px;
        padding:2px;
        width: 80px;

    }
    .buttons {
        padding: 0 100px ;
        display:flex;
        justify-content:space-between;
    }
    .buttons-child{
        flex:1;
        border:2px solid blue;
    }
    .dummy{
        display:none;
    }
    #cost , #weight {
        font-size:20px;
    }
    
@media (max-width:500px ) {
    .result {
        width:100%;
    }
    .add {
        display: none;
    }
}

